body{
    margin: 0;
    text-align: center;
    font-family:'Pacifico',sans-serif;
}
h1{
    width: 50%;
    margin-top: 0;
    margin: auto;
    font-family: 'DynaPuff', serif;
}
h2{
    font-family: 'Roboto', sans-serif;
}
h3{
    font-family: 'Roboto', sans-serif;
}
.pro{
    text-decoration: underline;
}
.top-container{
    background-color: rgb(180, 227, 211);
    position: relative;
    padding-top: 100px;
}
.middle-container{
    background-color: red;
    height: 200px;
    width: 200px;

}
.bottom-container{
    background-color: blue;
    height: 200px;
    width: 200px;

}
.top-cloud{
    
   position: absolute;
   right: 400px;
   top: 50px;
   
}
.bottom-cloud{
   position:absolute;
   bottom: 300px;
   left: 400px;
}
